upbit:
  api:
    rest-base-url: https://api.upbit.com
    ws-url: wss://api.upbit.com/websocket/v1
    top-limit: 5

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
