# OpenTelemetry configuration
env:
  - name: OTEL_AGENT_ENABLED
    value: "true"
  - name: OTEL_SERVICE_NAME
    value: "asset-websocket-api"
  - name: OTEL_TRACES_SAMPLER
    value: "parentbased_always_on"
  - name: OTEL_EXPORTER_OTLP_ENDPOINT
    value: "http://clickstack-hdx-oss-v2-otel-collector.observability.svc:4317"
  - name: OTEL_EXPORTER_OTLP_PROTOCOL
    value: "grpc"
  - name: OTEL_EXPORTER_OTLP_HEADERS
    value: "authorization=dc2bfce8-3127-40ca-be06-748658135aea"
  - name: OTEL_TRACES_EXPORTER
    value: "otlp"
  - name: OTEL_METRICS_EXPORTER
    value: "otlp"
  - name: OTEL_LOGS_EXPORTER
    value: "otlp"
  - name: OTEL_LOGS_BRIDGE_ENABLED
    value: "true"
  - name: OTEL_RESOURCE_ATTRIBUTES
    value: "service.namespace=stocat"
